# Ignore node_modules directory
node_modules/

# Ignore any logs or logs directory
logs/
*.log

# Ignore built files and directories
build/
dist/
out/
*.zip
*.tar.gz

# Ignore environment-specific files
.env

# Ignore any OS or editor-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

